

body {
    background-color: #CCCCFF;
    font-style: oblique;
}
#header {
    min-height: 70px;
    background-color: #0000ff;
    color: #ffffff;
    border-radius: 5px;
}
.vert {
    text-align: center;
    /* left: 20%;
    right: 20%; */
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#menu {
    min-height: 50px;
    margin-top: 1%;
    background-color: #f0f0f0;
    font-size: 1.5em;
    border-radius: 5px;
}
#container {
    margin-top: 1%;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    border: 1px dotted black;
    border-radius: 5px;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
	min-height: 50px;
	margin-top: 1%;
	background-color: #0000ff;
	color: #ffffff;
	border-radius: 5px;
    font-size: 1.5em;
    
}
